.title{
    display: flex;
    font-size: 60px;
    font-weight: 700;
    color: #4b4a4a;
    justify-content: center;
}
button{
    height: 75px;
    width: 75px;
    border-radius: 100px;
    font-size: 30px;
}
.number:hover{
    background-color: #c5c3c3f6;
}
.numberContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.func{
    background-color: #bebebef6;
    font-size: 30px;
}